label {
  text-align: center;
  font-size: 16px;
}

#barRange {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#initialiser {
  text-align: center;
  font-size: 30px;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

#initialiser span {
  cursor: pointer;
}

#container {
  display: block;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 5px solid rgba(255, 255, 255, 0.8);
  line-height: 0;
}

.box {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: grey;
}

#widthSlider,
#heightSlider {
  display: inline-block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.corner {
  display: inline-block;
  width: 10px;
  height: 10px;
  /* background-color: aqua; */
}

.hori {
  display: inline-block;
  width: 30px;
  height: 10px;
  /* background-color: aquamarine; */
}

.vert {
  display: inline-block;
  width: 10px;
  height: 30px;
  /* background-color: aquamarine; */
}

.visited {
  background-color: white;
}

.startNode {
  background-color: lime;
}

.endNode {
  background-color: red;
}
